.profile-container{
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
}


.profile-image_container{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user_container{
    position: relative;
    margin-top: 39px;
    top:39px;
    width: 100%;
    height: 11vh;
    text-align: center;
}
.profile-editing-container{
    width: 100%;
    height: 100%;
    margin-top: 56px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.userName{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
label{
    margin-right: 15px;
    font-size: 21px;
    font-weight: 500;
}

input{
    text-transform: uppercase;
}


.ProilePic{
    margin-top: 23px;
}
